In [1]:
# data_min_meta.csv
# data_min_total.csv
# timeseries.csv
# data_min_delta.csv
# data_min_delta7.csv
# data_min_delta21_14.csv
# data_min_districts.csv

In [7]:
import pandas as pd

data_min_meta = pd.read_csv("data//data_min_meta.csv")
data_min_total = pd.read_csv("data//data_min_total.csv")
timeseries = pd.read_csv("data//timeseries.csv")
data_min_delta = pd.read_csv("data//data_min_delta.csv")
data_min_delta7 = pd.read_csv("data//data_min_delta7.csv")
data_min_delta21_14 = pd.read_csv("data//data_min_delta21_14.csv")
data_min_districts_new1 = pd.read_csv("data//data_min_districts_new1.csv")

In [3]:
# keep only - state, date, population

data_min_meta.head()

,States,date,last_updated,population,tested.date,tested.source,vaccinated.date,notes,vaccinated.source
0,AN,2021-10-31,2021-11-01T11:03:10+05:30,397000,2021-10-31,https://dhs.andaman.gov.in/NewEvents/851.pdf,2021-10-31,NaN,NaN
1,AP,2021-10-31,2021-11-01T09:54:14+05:30,52221000,2021-10-31,https://twitter.com/ArogyaAndhra/status/145474...,2021-10-31,NaN,NaN
2,AR,2021-10-31,2021-11-01T11:20:24+05:30,1504000,2021-10-31,https://twitter.com/DirHealth_ArPr/status/1454...,2021-10-31,[July 25]: All numbers corresponding to Papum ...,NaN
3,AS,2021-10-31,2021-11-01T09:54:14+05:30,34293000,2021-10-31,https://twitter.com/nhm_assam/status/145483728...,2021-10-31,[Jan 1]: 1347 cases i.e Covid +'tive patients ...,NaN
4,BR,2021-10-31,2021-11-01T09:54:14+05:30,119520000,2021-10-31,https://twitter.com/BiharHealthDept/status/145...,2021-10-31,[June 9] : 3951 deceased cases have been repor...,NaN

In [7]:
data_min_meta[["date"]] = "31-10-2021"

In [9]:
data_min_meta[["States", "date", "population"]].to_csv("cleaned_data//data_min_meta.csv", index=False)

In [6]:
# remove= other
data_min_total.head()

,States,confirmed,deceased,recovered,tested,vaccinated1,vaccinated2,other
0,AN,7651,129,7518,598033,294001,200157,NaN
1,AP,2066450,14373,2047722,29518787,32976969,20375181,NaN
2,AR,55155,280,54774,1185436,771875,534486,NaN
3,AS,610645,5997,600974,24712042,20172463,8068795,1347.0
4,BR,726098,9661,716390,50531824,49874828,18346781,1.0

In [11]:
data_min_total.drop(["other"], axis=1).to_csv("cleaned_data//data_min_total.csv", index=False)
data_min_total.drop(["other"], axis=1)

   States  confirmed  deceased  recovered     tested  vaccinated1  vaccinated2
0      AN       7651       129       7518     598033       294001       200157
1      AP    2066450     14373    2047722   29518787     32976969     20375181
2      AR      55155       280      54774    1185436       771875       534486
3      AS     610645      5997     600974   24712042     20172463      8068795
4      BR     726098      9661     716390   50531824     49874828     18346781
5      CH      65351       820      64495     792851       926035       546981
6      CT    1006052     13577     992159   13709510     14851682      7343273
7      DL    1439870     25091    1414431   29427753     13055636      7425404
8      DN      10681         4      10644      72410       660753       370255
9      GA     178108      3364     174392    1468399      1262568       911114
10     GJ     826577     10089     816283   30928063     44735217     25972387
11     HP     224106      3738     218410    3685011      5713695      3443823
12     HR     771252     10049     761068   13032504     17772376      8115463
13     JH     348764      5138     343518   15985878     14986646      5585648
14     JK     332249      4432     326915   16202346      9511073      5149471
15     KA    2988333     38082    2941578   50873103     42497761     22858384
16     KL    4968657     31681    4857181   37886378     25306499     13658343
17     LA      20962       208      20687     555568       208798       152280
18     LD      10365        51      10270     263541        55129        45951
19     MH    6611078    140216    6450585   62667211     67198794     30975692
20     ML      83627      1450      81746    1151665      1103275       641819
21     MN     123731      1921     121102    1367673      1249436       719413
22     MP     792854     10524     782215   20294225     49911938     20838045
23     MZ     121359       432     114612    1298444       711597       512029
24     NL      31842       685      29904     395416       709553       490663
25     OR    1041457      8386    1029147   21994343     25736641     11560912
26     PB     602401     16559     585591   15429415     15942714      6238973
27     PY     128013      1857     125726    1919060       733922       404355
28     RJ     954429      8954     945443   14807752     42544909     20097635
29     SK      31979       396      31063     261343       521763       451509
30     TG     671463      3956     663498   27569831     22498559      9772398
31     TN    2702623     36116    2655015   51159242     41279432     17619141
32     TR      84468       813      83466    1983127      2508477      1621329
33     TT   34285612    458470   33661339  609201294    732371508    330752697
34     UP    1710158     22900    1687151   83635222     98178865     32681895
35     UT     343896      7400     330195    7781148      7478017      3898342
36     WB    1592908     19141    1565471   19228303     56192166     21559747

In [12]:
# remove = other 
# replaace = null with 0

data_min_delta.head()

,States,tested,vaccinated1,vaccinated2,confirmed,deceased,recovered,other
0,AN,1376.0,3.0,13.0,NaN,NaN,NaN,NaN
1,AP,39848.0,20497.0,24137.0,385.0,4.0,675.0,NaN
2,AR,334.0,42.0,195.0,1.0,NaN,9.0,NaN
3,AS,15060.0,19124.0,37463.0,212.0,1.0,236.0,NaN
4,BR,226443.0,114694.0,145827.0,8.0,NaN,9.0,NaN

In [15]:
data_min_delta.drop(["other"], axis=1).fillna(0).to_csv("cleaned_data//data_min_delta.csv", index=False)
data_min_delta.drop(["other"], axis=1).fillna(0)

   States    tested  vaccinated1  vaccinated2  confirmed  deceased  recovered
0      AN    1376.0          3.0         13.0        0.0       0.0        0.0
1      AP   39848.0      20497.0      24137.0      385.0       4.0      675.0
2      AR     334.0         42.0        195.0        1.0       0.0        9.0
3      AS   15060.0      19124.0      37463.0      212.0       1.0      236.0
4      BR  226443.0     114694.0     145827.0        8.0       0.0        9.0
5      CH    1403.0        211.0       1282.0        5.0       0.0        3.0
6      CT   11869.0      21312.0      39393.0       32.0       1.0       32.0
7      DL   56751.0      12482.0      11839.0       45.0       0.0       46.0
8      DN       0.0          3.0         20.0        0.0       0.0        1.0
9      GA    2361.0       2572.0      12404.0       23.0       0.0       53.0
10     GJ   34282.0      14685.0      62096.0       20.0       0.0       23.0
11     HP    3613.0        371.0       8192.0       85.0       1.0      198.0
12     HR   20588.0       7867.0      15801.0       11.0       0.0       10.0
13     JH   31238.0      41034.0      51488.0       10.0       0.0        8.0
14     JK   38915.0       1584.0      45202.0       95.0       0.0       79.0
15     KA  106939.0      17604.0      28163.0      292.0      11.0      345.0
16     KL   65158.0       2010.0      11914.0     7167.0     167.0     6439.0
17     LA     388.0          0.0          2.0       11.0       0.0        9.0
18     LD      31.0          0.0          4.0        0.0       0.0        0.0
19     MH  108040.0      53161.0      31988.0     1172.0      20.0     1399.0
20     ML    1559.0         38.0        203.0       22.0       1.0       51.0
21     MN    1689.0        705.0       4283.0       63.0       1.0       62.0
22     MP   55368.0       5713.0      77062.0       16.0       0.0        8.0
23     MZ    5945.0         10.0         51.0      579.0       2.0      610.0
24     NL     468.0        193.0        822.0       11.0       1.0       21.0
25     OR   69675.0      21420.0      25651.0      488.0       4.0      450.0
26     PB   34152.0       3321.0       4418.0       26.0       1.0       25.0
27     PY    2662.0        171.0        532.0       38.0       0.0       45.0
28     RJ   13454.0       9399.0      29672.0        2.0       0.0        2.0
29     SK     389.0          0.0          0.0       21.0       1.0        8.0
30     TG   25021.0      38781.0      26738.0      121.0       1.0      183.0
31     TN  123701.0      77325.0     106584.0     1009.0      19.0     1183.0
32     TR    3501.0          3.0        650.0       12.0       0.0        2.0
33     TT  881379.0     750410.0     933460.0    12907.0     251.0    13152.0
34     UP  161458.0      53401.0      57556.0        6.0       0.0        6.0
35     UT    9524.0       1065.0      12934.0        5.0       0.0        9.0
36     WB   47417.0     209609.0      58881.0      914.0      15.0      913.0

In [10]:
# remove = other 
# replaace = null with 0

data_min_delta7.head()

,States,confirmed,recovered,tested,vaccinated1,vaccinated2,deceased,other
0,AN,3.0,5.0,8936.0,884,10640,NaN,NaN
1,AP,2873.0,3590.0,254532.0,1223010,1887005,30.0,NaN
2,AR,66.0,97.0,4788.0,3312,23647,NaN,NaN
3,AS,2056.0,2215.0,269097.0,274869,849889,24.0,NaN
4,BR,40.0,31.0,1378539.0,1286708,2144970,NaN,NaN

In [16]:
data_min_delta7.drop(["other"], axis=1).fillna(0).to_csv("cleaned_data//data_min_delta7.csv", index=False)
data_min_delta7.drop(["other"], axis=1).fillna(0)

   States  confirmed  recovered     tested  vaccinated1  vaccinated2  deceased
0      AN        3.0        5.0     8936.0          884        10640       0.0
1      AP     2873.0     3590.0   254532.0      1223010      1887005      30.0
2      AR       66.0       97.0     4788.0         3312        23647       0.0
3      AS     2056.0     2215.0   269097.0       274869       849889      24.0
4      BR       40.0       31.0  1378539.0      1286708      2144970       0.0
5      CH       28.0       20.0    10726.0         3680        21641       0.0
6      CT      205.0      103.0   147451.0       379374       604260       5.0
7      DL      267.0      239.0   395086.0       160323       269146       0.0
8      DN        0.0        2.0        0.0         2802        14244       0.0
9      GA      222.0      409.0    19026.0         8418        46494       6.0
10     GJ      159.0      116.0   328489.0       335172      1660382       2.0
11     HP     1537.0     1154.0    64352.0        13244       234011      20.0
12     HR       95.0       87.0   148110.0       160777       368141       0.0
13     JH      137.0      250.0   464579.0       299587       428313       3.0
14     JK      611.0      572.0   254608.0        33383       414843       3.0
15     KA     2347.0     2339.0   724215.0       623591      1373861      75.0
16     KL    53326.0    48406.0   506604.0       109805       792534    3089.0
17     LA       58.0       28.0     2475.0          525         1532       0.0
18     LD        0.0        0.0     1625.0           69          796       0.0
19     MH     8117.0    15146.0   773516.0      1611778      1282938     200.0
20     ML      256.0      460.0    13944.0         7871        41927       4.0
21     MN      439.0      652.0    12787.0         7665        71276      10.0
22     MP      105.0       74.0   393209.0       148817      2034460       1.0
23     MZ     4098.0     5685.0    42841.0         4302        11262      21.0
24     NL      130.0      144.0     4606.0         4706        23628       6.0
25     OR     3046.0     3230.0   473919.0       731837       917236      24.0
26     PB      192.0      162.0   221114.0       200182       223256       8.0
27     PY      278.0      315.0    21095.0         8324        20073       0.0
28     RJ       27.0       26.0    95132.0       271500       864947       0.0
29     SK       79.0       76.0     2847.0          782        14044       2.0
30     TG     1189.0     1121.0   261086.0      1072389       961422       9.0
31     TN     7407.0     8852.0   858304.0       788134      1578082      97.0
32     TR       87.0       62.0    22126.0         4155        74642       0.0
33     TT    96071.0   101753.0  8431577.0     15883780     24527530    3727.0
34     UP       63.0       58.0  1140736.0      2266921      3130828       1.0
35     UT       75.0       74.0    83377.0        25250       258381       1.0
36     WB     6453.0     5953.0   300114.0      3809597      1871612      86.0

In [11]:
# replaace = null with 0

data_min_delta21_14.head()

  States  confirmed
0     AN        9.0
1     AP     3220.0
2     AR       87.0
3     AS     1499.0
4     BR       30.0

In [19]:
data_min_delta21_14.fillna(0).to_csv("cleaned_data//data_min_delta21_14.csv", index=False)
data_min_delta21_14.fillna(0)

   States  confirmed
0      AN        9.0
1      AP     3220.0
2      AR       87.0
3      AS     1499.0
4      BR       30.0
5      CH       23.0
6      CT      124.0
7      DL      195.0
8      DN        4.0
9      GA      409.0
10     GJ      149.0
11     HP      958.0
12     HR       83.0
13     JH       78.0
14     JK      529.0
15     KA     2432.0
16     KL    59521.0
17     LA       26.0
18     LD        0.0
19     MH    13825.0
20     ML      530.0
21     MN      734.0
22     MP       63.0
23     MZ     6770.0
24     NL      162.0
25     OR     3381.0
26     PB      159.0
27     PY      343.0
28     RJ       31.0
29     SK       82.0
30     TG     1068.0
31     TN     8827.0
32     TR       49.0
33     TT   109755.0
34     UP       74.0
35     UT       88.0
36     WB     4193.0

In [17]:
# remove rows thats have districts - Other State, Airport Quarantine
# removed by excel

data_min_districts_new1 = pd.read_csv("data//data_min_districts_new1.csv")

# data_min_districts.head()
data_min_districts_new1.head()

,states,districts,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_vaccinated1,delta_vaccinated2,delta_population,delta21_14_confirmed,...,meta_vaccinated1,meta_vaccinated2,meta_population,total_confirmed,total_deceased,total_recovered,total_tested,total_vaccinated1,total_vaccinated2,total_population
0,AN,Nicobars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,36842.0,NaN,NaN,NaN,NaN,25394.0,20313.0,0
1,AN,North and Middle Andaman,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,...,NaN,NaN,105597.0,NaN,NaN,NaN,NaN,78945.0,59522.0,0
2,AN,South Andaman,NaN,NaN,NaN,NaN,3.0,28.0,NaN,NaN,...,NaN,NaN,238142.0,NaN,NaN,NaN,NaN,189662.0,120322.0,0
3,AN,Unknown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,7651.0,129.0,7518.0,NaN,NaN,NaN,12
4,AP,Anantapur,4.0,NaN,5.0,NaN,4575.0,5370.0,4.0,50.0,...,NaN,NaN,4083315.0,157843.0,1093.0,156699.0,787085.0,2690082.0,1611476.0,92

In [18]:
data_min_districts_new1.isnull().sum()

states                      0
districts                   0
delta_confirmed           474
delta_deceased            684
delta_recovered           476
delta_tested              736
delta_vaccinated1          94
delta_vaccinated2          81
delta_population          474
delta21_14_confirmed      316
delta21_14_deceased       739
delta21_14_recovered      739
delta21_14_tested         739
delta21_14_vaccinated1    739
delta21_14_vaccinated2    739
delta21_14_population     316
delta7_confirmed          323
delta7_deceased           593
delta7_recovered          336
delta7_tested             736
delta7_vaccinated1         20
delta7_vaccinated2         20
delta7_population         323
meta_confirmed            739
meta_deceased             739
meta_recovered            739
meta_tested                 0
meta_vaccinated1          739
meta_vaccinated2          739
meta_population            29
total_confirmed            93
total_deceased            107
total_recovered            94
total_tested              202
total_vaccinated1          20
total_vaccinated2          20
total_population            0
dtype: int64

In [23]:
data_min_districts_new1["meta_tested"] = data_min_districts_new1["meta_tested"].str.replace("/","-")

In [24]:
data_min_districts_new1["meta_tested"]

0      26-11-2020
1      26-11-2020
2      26-11-2020
3      26-11-2020
4      26-11-2020
          ...
734    31-03-2021
735      6-4-2021
736     12-4-2021
737    18-04-2021
738    24-04-2021
Name: meta_tested, Length: 739, dtype: object

In [25]:
data_min_districts_new1.fillna(0).to_csv("cleaned_data//data_min_districts.csv", index=False)
data_min_districts_new1.fillna(0)

,states,districts,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_vaccinated1,delta_vaccinated2,delta_population,delta21_14_confirmed,...,meta_vaccinated1,meta_vaccinated2,meta_population,total_confirmed,total_deceased,total_recovered,total_tested,total_vaccinated1,total_vaccinated2,total_population
0,AN,Nicobars,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,36842.0,0.0,0.0,0.0,0.0,25394.0,20313.0,0
1,AN,North and Middle Andaman,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,...,0.0,0.0,105597.0,0.0,0.0,0.0,0.0,78945.0,59522.0,0
2,AN,South Andaman,0.0,0.0,0.0,0.0,3.0,28.0,0.0,0.0,...,0.0,0.0,238142.0,0.0,0.0,0.0,0.0,189662.0,120322.0,0
3,AN,Unknown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,7651.0,129.0,7518.0,0.0,0.0,0.0,12
4,AP,Anantapur,4.0,0.0,5.0,0.0,4575.0,5370.0,4.0,50.0,...,0.0,0.0,4083315.0,157843.0,1093.0,156699.0,787085.0,2690082.0,1611476.0,92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
734,WB,Purba Bardhaman,16.0,0.0,25.0,0.0,17168.0,4002.0,16.0,132.0,...,0.0,0.0,4835532.0,42005.0,198.0,41588.0,0.0,2596246.0,859528.0,295
735,WB,Purba Medinipur,16.0,0.0,17.0,0.0,5370.0,2226.0,16.0,65.0,...,0.0,0.0,4417377.0,63098.0,397.0,62549.0,0.0,3560589.0,1471674.0,175
736,WB,Purulia,2.0,0.0,3.0,0.0,13266.0,1866.0,2.0,9.0,...,0.0,0.0,2927965.0,19419.0,113.0,19283.0,0.0,1679941.0,492310.0,28
737,WB,South 24 Parganas,75.0,1.0,74.0,0.0,7086.0,3270.0,75.0,267.0,...,0.0,0.0,8153176.0,100957.0,1336.0,98950.0,0.0,4850898.0,1832073.0,884
738,WB,Uttar Dinajpur,8.0,0.0,7.0,0.0,0.0,0.0,8.0,25.0,...,0.0,0.0,3000849.0,19858.0,238.0,19559.0,0.0,1341457.0,436182.0,76

In [31]:
timeseries = pd.read_csv("data//timeseries.csv")

timeseries

,states,dates,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_vaccinated1,delta_vaccinated2,delta_population,delta7_confirmed,...,delta7_vaccinated1,delta7_vaccinated2,delta7_population,total_confirmed,total_deceased,total_recovered,total_tested,total_vaccinated1,total_vaccinated2,total_population
0,AN,2020-03-26,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,AN,2020-03-27,5.0,NaN,NaN,NaN,NaN,NaN,NaN,6.0,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
2,AN,2020-03-28,3.0,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN
3,AN,2020-03-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,...,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN
4,AN,2020-03-30,1.0,NaN,NaN,NaN,NaN,NaN,NaN,10.0,...,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21060,WB,2021-10-27,976.0,15.0,837.0,43322.0,323292.0,229056.0,NaN,6229.0,...,4217789.0,1852144.0,NaN,1589042.0,19096.0,1561973.0,19039301.0,53992006.0,20590859.0,NaN
21061,WB,2021-10-28,990.0,9.0,845.0,45437.0,532317.0,287998.0,NaN,6386.0,...,4081493.0,1884201.0,NaN,1590032.0,19105.0,1562818.0,19084738.0,54524323.0,20878857.0,NaN
21062,WB,2021-10-29,982.0,8.0,860.0,49017.0,701727.0,317576.0,NaN,6522.0,...,3980686.0,1879824.0,NaN,1591014.0,19113.0,1563678.0,19133755.0,55226050.0,21196433.0,NaN
21063,WB,2021-10-30,980.0,13.0,880.0,47131.0,756507.0,304433.0,NaN,6528.0,...,3809335.0,1870225.0,NaN,1591994.0,19126.0,1564558.0,19180886.0,55982557.0,21500866.0,NaN
21064,WB,2021-10-31,914.0,15.0,913.0,47417.0,209609.0,58881.0,NaN,6453.0,...,3809597.0,1871612.0,NaN,1592908.0,19141.0,1565471.0,19228303.0,56192166.0,21559747.0,NaN

In [32]:
timeseries.isnull().sum()

states                    0
dates                     0
delta_confirmed        1496
delta_deceased         7672
delta_recovered        2211
delta_tested           1948
delta_vaccinated1     11234
delta_vaccinated2     12078
delta_population      21065
delta7_confirmed        496
delta7_deceased        4369
delta7_recovered       1113
delta7_tested          1292
delta7_vaccinated1    10661
delta7_vaccinated2    11700
delta7_population     21065
total_confirmed         103
total_deceased         1804
total_recovered         774
total_tested            751
total_vaccinated1     10661
total_vaccinated2     11700
total_population      21065
dtype: int64

In [35]:
timeseries.drop(["delta_population", "delta7_population", "total_population"], axis= 1).fillna(0).to_csv("cleaned_data//timeseries.csv", index=False)
timeseries.drop(["delta_population", "delta7_population", "total_population"], axis= 1).fillna(0)

,states,dates,delta_confirmed,delta_deceased,delta_recovered,delta_tested,delta_vaccinated1,delta_vaccinated2,delta7_confirmed,delta7_deceased,delta7_recovered,delta7_tested,delta7_vaccinated1,delta7_vaccinated2,total_confirmed,total_deceased,total_recovered,total_tested,total_vaccinated1,total_vaccinated2
0,AN,2020-03-26,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,AN,2020-03-27,5.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0
2,AN,2020-03-28,3.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
3,AN,2020-03-29,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
4,AN,2020-03-30,1.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21060,WB,2021-10-27,976.0,15.0,837.0,43322.0,323292.0,229056.0,6229.0,89.0,5658.0,270214.0,4217789.0,1852144.0,1589042.0,19096.0,1561973.0,19039301.0,53992006.0,20590859.0
21061,WB,2021-10-28,990.0,9.0,845.0,45437.0,532317.0,287998.0,6386.0,84.0,5728.0,282633.0,4081493.0,1884201.0,1590032.0,19105.0,1562818.0,19084738.0,54524323.0,20878857.0
21062,WB,2021-10-29,982.0,8.0,860.0,49017.0,701727.0,317576.0,6522.0,80.0,5796.0,291347.0,3980686.0,1879824.0,1591014.0,19113.0,1563678.0,19133755.0,55226050.0,21196433.0
21063,WB,2021-10-30,980.0,13.0,880.0,47131.0,756507.0,304433.0,6528.0,81.0,5868.0,295319.0,3809335.0,1870225.0,1591994.0,19126.0,1564558.0,19180886.0,55982557.0,21500866.0
21064,WB,2021-10-31,914.0,15.0,913.0,47417.0,209609.0,58881.0,6453.0,86.0,5953.0,300114.0,3809597.0,1871612.0,1592908.0,19141.0,1565471.0,19228303.0,56192166.0,21559747.0

In [37]:
timeseries.drop(["delta_population", "delta7_population", "total_population"], axis= 1).fillna(0).isnull().sum()

states                0
dates                 0
delta_confirmed       0
delta_deceased        0
delta_recovered       0
delta_tested          0
delta_vaccinated1     0
delta_vaccinated2     0
delta7_confirmed      0
delta7_deceased       0
delta7_recovered      0
delta7_tested         0
delta7_vaccinated1    0
delta7_vaccinated2    0
total_confirmed       0
total_deceased        0
total_recovered       0
total_tested          0
total_vaccinated1     0
total_vaccinated2     0
dtype: int64